@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --Light-green-100: #d9f8cd;
  --Light-green-200: #c7f5b4;
  --Light-green-600: #7ad555;
  --Light-green-800: #4a8133;
  --Light-green-900: #17380a;

  /* Neutral-dark */
  --Neutral-dark-800: #09080b;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--Light-green-600);
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: var(--Light-green-900);
  border: 0px;
}

button:hover {
  background: #17380a;
  color: #7ad555;
}
.container-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 100px;
  gap: 16px;
  max-width: 1440px;
  background: #ffffff;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 12px;
  align-items: center;
  padding: 8px 16px;
}

a.link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 4px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: var(--Neutral-dark-800);
}

a.link-item:hover {
  color: var(--Light-green-800);
}

/* Navbar End */

/* hero-banner-contact-us */

/* .contactus-container {
  display: flex;
  flex-direction: row;
}

.leftcontent {
  display: flex;
  flex: 1;
  position: absolute;
  /* margin-top: 259.22px;
  margin-left: 180px; */
/* }
.rightcontent {
  display: flex;
  flex: 1;
} */

.contactus-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 100px;
  gap: 16px;
  max-width: 1440px;
  /* height: 100vh; */
  overflow: hidden;
  margin-top: 100px;
}

.leftcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  /* gap: 24px; */
  height: auto;
  flex-grow: initial;
}
.rightcontent {
  margin-top: -60px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
input {
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid;
}
textarea {
  height: 80px;
  border-radius: 8px;
  margin-bottom: 3vh;
  border: 0.5px solid;
}
img.responsive {
  width: 70%;
  height: auto;
  margin-left: 160px;
}
h1 {
  width: 360px;
  height: 88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  margin-right: 414px;
}
h3 {
  font-family: "Inter";
  font-style: normal;
}
